<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512190792821-1e2gn9makkaavjlll94lshevl57l4idf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512190792821-1e2gn9makkaavjlll94lshevl57l4idf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>512190792821-p5lgn945rbqtnfispc40n7om3c77eof0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJuP1GOEpjAdvuuhy_GB_lLK2wrO9RDt0</string>
	<key>GCM_SENDER_ID</key>
	<string>512190792821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Tarifikaa</string>
	<key>PROJECT_ID</key>
	<string>recipesworld-d5db7</string>
	<key>STORAGE_BUCKET</key>
	<string>recipesworld-d5db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512190792821:ios:6a098a53170ff1177fe43c</string>
	<key>DATABASE_URL</key>
	<string>https://recipesworld-d5db7-default-rtdb.firebaseio.com</string>
</dict>
</plist>